/* Body Section */
body{
  margin: 0;

  background-color: rgb(52, 73, 133);
  
  font-size: 18px;
}

/* Nav Bar Section */
.nav-bar-main{
  background-color: aliceblue;
  display: flex;

  justify-content: space-between;
}

.nav-bar-folder{
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-item{
  margin-left: 14px;
  margin-right: 20px;
  margin-top: 24px;
  margin-bottom: 24px;

  font-family: Bebas Neue;
  font-size: 30px;
  color: rgb(52, 73, 133);

  text-decoration: none;
  background-image: linear-gradient(rgb(52, 73, 133), rgb(52, 73, 133));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.nav-bar-item:hover,
.nav-bar-item:focus,
.nav-bar-item:active {
  background-size: 100% 0.1em;
  cursor: pointer;
}

.nav-bar-item-btn{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 22px;
  margin-bottom: 22px;

  padding-left: 10px;
  padding-right: 10px;

  font-family: Bebas Neue;
  font-size: 30px;
  color: rgb(52, 73, 133);
  text-decoration: none;

  border: solid 2px rgb(52, 73, 133);
  border-radius: 4px;
}

.nav-bar-item-btn:hover{
  color: aliceblue;
  background-color: rgb(52, 73, 133);

  border: solid 2px aliceblue;
  border-radius: 6px;

  cursor: pointer;
}

.nav-bar-icon-container{
  margin-top: 26px;
  margin-bottom: 24px;
  margin-left: 20px;
}

/* Header Section */

/* Presentation Section */
.header-main{
  margin-top: 50px;
}

.header-main-div{
  border-radius: 4px;
  width: 90%;
  background-color: aliceblue;
  
  margin: auto;
  margin-bottom: 20px;
  padding: 20px
}

.header-main-presentation{
  font-family: Poppins;
}

.header-main-presentation-name-intro{
  color: rgb(52, 73, 133);
}

.header-main-presentation-name{
  color: rgb(45, 70, 139);

  font-family: Bebas Neue;
  font-size: 30px;
  font-weight: bold;
}

.header-main-presentation-name-outro{
  margin-top: 10px;

  color: rgb(52, 73, 133);
  width: 50%;
}

/* Skills Section */
.header-main-skills{
  font-family: Bebas Neue;
  font-size: 30px;
  font-weight: bold;
  color: rgb(45, 70, 139);
}

.header-main-skills-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 100;
}

.skill-item{
  border: solid 4px rgb(46, 54, 61);
  border-radius: 6px;

  color: aliceblue;
  background-color: rgb(52, 73, 133);

  padding: 6px;
  margin-right: 4px;
  margin-top: 10px;
}

.skill-item:hover{
  box-shadow: 0px 2px 8px rgb(46, 54, 61);
}

/* Working on Section */
.header-main-work{
  font-family: Bebas Neue;
  font-size: 30px;
  font-weight: bold;
  color: rgb(45, 70, 139);
}

.header-main-work-desc{
  color: rgb(52, 73, 133);

  font-family: Poppins;
  font-size: 18px;
  font-weight: 100;
}

/* Credit Section */
.header-main-credits{
  font-family: Bebas Neue;
  font-size: 30px;
  font-weight: bold;
  color: rgb(45, 70, 139);
}

.header-main-credits-desc{
  color: rgb(52, 73, 133);

  font-family: Poppins;
  font-size: 18px;
  font-weight: 100;
}

/* Project Section */
.header-main-project-item{
  font-family: Bebas Neue;
  font-size: 30px;
  font-weight: bold;
  color: rgb(45, 70, 139);
}

.header-main-project-desc{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  color: rgb(52, 73, 133);

  font-family: Poppins;
  font-size: 18px;
  font-weight: 100;
}

/* Footer Section */
.footer-main{
  background-color: aliceblue;
}

.footer-main-div{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 50px;

  padding: 10px;

  display: flex;
  justify-content: space-between;
}

.footer-link{
  text-decoration: none;

  color: rgb(52, 73, 133);
  font-size: 24px;
  font-family: Bebas Neue;
  background-image: linear-gradient(rgb(52, 73, 133), rgb(52, 73, 133));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  background-size: 100% 0.1em;
  cursor: pointer;
}

.footer-copyright{
  color: rgb(88, 109, 168);
  font-size: 20px;
  font-family: Bebas Neue;
}

.footer-right{
  padding-top: 10px;

  display: flex;
}

.footer-social-links{
  margin-left: 10px;
}